<div class="top-header d-flex align-items-center justify-content-between">

  <!-- LEFT -->
  <div class="d-flex align-items-center">
    <img src="assets/logo.svg" class="logo mr-2" />

    <div>
      <div class="hostel-name">GHRCE BOYS HOSTEL</div>
      <div class="hostel-location">Shraddha Park, Nagpur</div>
    </div>
  </div>

  <!-- CENTER -->
  <div class="search-box">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search Hostel">
    </mat-form-field>
  </div>
<div class="right-info">
      <i class="pi pi-bell notification"></i>
      <div class="profile">
        <img src="assets/user.png" alt="user" />
        <div>
          <p class="name">Vatsav</p>
          <span class="role">Hostel Warden</span>
        </div>
      </div>
    </div>
  <!-- RIGHT -->
  <div class="d-flex align-items-center">

    <button mat-icon-button class="mr-3">
      <mat-icon>notifications_none</mat-icon>
    </button>

    <div class="d-flex align-items-center">
      <img src="assets/avatar.png" class="avatar mr-2" />
      <div>
        <div class="user-name">Vaibhav</div>
        <div class="user-role">Hostel Warden</div>
      </div>
    </div>

  </div>

</div>
